body {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(140, 148, 155);
}

/* Vùng css main web page */

.cart-ordering-page {
    background: rgba(26, 192, 115, 1);
    padding-top: 20px;
    width: 1440px;
    padding-right: 0 !important;
    padding-left: 0 !important;

}

a.navbar-brand {
    font-family: 'Squada One', sans-serif !important;
    font-size: 32px !important;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(255, 255, 255, 1) !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

ul.navbar-nav a.nav-link {
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(255, 255, 255, 1) !important;
}

.hero-display-cooking-man {
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 130px;
}

.hero-display-cooking-man h2 {
    /* width: 534px; */
    /* height: 147px; */
    font-family: 'ABeeZee', sans-serif;
    font-size: 70px;
    font-style: italic;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.hero-display-cooking-man p {
    /* width: 441px; */
    /* height: 40px; */
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    margin-bottom: 40px;
}

div.input-group>input[type="text"] {
    height: 58px;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
}

div.input-group-append>button[type="button"] {
    height: 58px;
    width: 112px;
    padding: 19px, 29px, 19px, 29px;
    border-radius: 0px 10px 10px 0px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

div.row input.form-control::placeholder {
    font-family: 'ABeeZee', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    align-items: center;
    color: #929292;
}

.copy-right {
    height: 36px;
    /* padding-left: 50px; */
    margin-bottom: 50px;

}

.copy-right p {
    font-family: 'ABeeZee', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
    color: #FFFFFF;
}

.copy-right hr {
    height: 0.5px;
    color: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 1);

}

.div-a-nav-bar a:nth-child(1) {
    /* Styles for the first 'a' tag */
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #1AC073;
}

.div-a-nav-bar a:nth-child(3) {
    /* Styles for the first 'a' tag */
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #262626;

}

/* css cho card pizza */
.div-card-product {
    /* width: 277px; */
    /* height: 365px; */
    box-shadow: 0px 0px 1px 0px #BBBBBB40;
    border: none;
    background-color: #F7F8FA;
}

.span-sale {
    position: absolute;
    background: rgba(243, 186, 0, 1);
    color: rgba(16, 17, 21, 1);
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 10px 0px 0px 0px;
    font-family: 'ABeeZee', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: center;
}

.card-body h5.card-title {
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: #1B1C21;
}

.card-body span {
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    color: #1B1C21;
}

/* tuy chinh slider bar */
.div-range-slider {
    width: 100%;
    height: 100%;
    background: #F6F7F8;

}

.div-range-slider h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.div-range-slider p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.ui-slider {
    background: #ccc;
    height: 10px;
}

.ui-slider-handle {
    width: 20px;
    height: 20px;
    background: #1AC073 !important;
    border-radius: 50%;
}

.ui-slider-range {
    background: #1AC073;

}

.div-rating-checkbox {
    background: #F6F7F8;

}

.box-checked {
    color: #FFCB45;

}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 27px;
    height: 27px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #17C05B;
    border-color: #17C05B;
}

input[type="checkbox"]:checked::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* mã Unicode cho biểu tượng 'fa-check' */
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* màu của dấu tick */
    color: white;

}

.div-rating-checkbox h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.page-item.active .page-link {
    /* Đổi màu background của thẻ đang active thành màu đỏ */
    background: #1AC073 !important;
    /* Đổi màu text của thẻ đang active thành màu trắng */
    color: #fff !important;
    border: 1px solid #1AC073;
    box-shadow: 1px 1px 2px #888888;
}

.page-item .page-link {
    /* Đổi màu số trang thành màu xanh dương */
    color: #22262A !important;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

}

.content-center {
    justify-content: center;
}